/* Thème Dark */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #1f1f1f;
    color: #eee;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.card {
    background: #333;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #333;
    color: #eee;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
}

.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.btn:hover {
    background-color: #0056b3;
}

/* Tableau */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #444;
    color: #eee;
}

.table td {
    background-color: #333;
    border-bottom: 1px solid #444;
    color: #eee;
}

.table-dark th, .table-dark td {
    background-color: #222;
    color: #eee;
}

/* Autres styles à personnaliser selon les besoins */
/* ... */
/* CSS pour styliser l'input de type date */

/* Cache l'icône de calendrier dans Chrome/Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Style pour l'input date */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
    font-size: 16px;
    outline: none;
}

/* Style lorsque l'input est en focus */
input[type="date"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style pour le texte dans l'input date */
input[type="date"]::before {
    content: attr(placeholder);
    color: #6c757d;
    margin-right: 0.5em;
}

/* Style pour la date sélectionnée */
input[type="date"]::-webkit-datetime-edit-text {
    color: #495057;
}

/* Style pour l'année sélectionnée */
input[type="date"]::-webkit-datetime-edit-year-field {
    color: #495057;
}
